.container {
  margin: 0 auto;
  padding-bottom: 100px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.footer {
  text-align: center;
  font: 14px/1.3 Arial;
  color: #888888;
}